<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{ site.title }}</title>
    </head>
    <body>
        <h1>{{ site.title }}</h1>
        <h2>{{ page.title }}</h2>

  <p><strong>Pages</strong></p>
  <p><a href="index.html">Home</a></p>
  <p><a href="login-to-wordpress-dashboard.html">Login in to WordPress Dashboard</a></p>
  <p><a href="create-an-article.html">Create an Article</a></p>
  <p><a href="revise-an-article.html">Revise an Article</a></p>
  <hr /> 
  {{ content }}
  
    </body>
</html>
